.confirmed-guests-section {
    padding: 20px;
    text-align: center;
  }
  
  .confirmed-guests-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .guest-item {
    padding: 15px;
    margin: 10px 0;
    background-color: #FFC88A;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #643fc1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button.active {
    background-color: #e84315;
  }
  
  .pagination button:hover {
    background-color: #ffc107;
  }
  