@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

.container, .container-fluid {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
}

.container:before, .container:after,
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container:after, .container-fluid:after {
  clear: both;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.couple-container {
  max-width: 90%;
  margin: auto;
  text-align: center;
  padding: 0 15px;
}

.couple-container > h1 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem 0;
  color: #000;
  line-height: 1.5;
}

.couple-container > h3 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: 600;
  font-size: 1rem;
  color: #36366480;
  margin: 2rem 0;
  text-align: right;
}

.couple-container > p {
  color: #CD7AA3;
}

.couple-wrap {
  width: 90%;
  margin: 80px auto;
}

@media screen and (max-width: 768px) {
  .couple-wrap {
    width: 100%;
    margin: 40px auto;
  }
}

.couple-half {
  width: 50%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .couple-half {
    width: 100%;
    padding: 0;
  }
}

.couple-half h3 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: 600;
  color: #CD7AA3;
  font-size: 1.875rem; /* 30px */
  line-height: 1.5;
}

.couple-half .groom, .couple-half .bride {
  float: none;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
}

.couple-half .groom img, .couple-half .bride img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 480px) {
  .couple-half .groom, .couple-half .bride {
    width: 120px;
    height: 120px;
  }
}

.desc-groom, .desc-bride {
  padding: 1rem;
  text-align: center;
}

.parents-font {
  padding: 1rem 0;
  margin: 1rem 0;
  font-family: "Estonia", Arial, serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.heart {
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  animation: pulse 1s ease infinite;
}

.heart i {
  font-size: 20px;
  background: #f3f3f3;
  padding: 20px;
  color: #FF0000;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .heart {
    display: none;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}
