.pagination {
  position: fixed;
  bottom: 120px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #FFC88A;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 16px;
}

.pagination button:hover {
  background-color: #643fc1;
  color: #fff;
}

.pagination .active button {
  background-color: #e84315;
  color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .pagination {
    bottom: 30px;
  }

  .pagination button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .pagination li {
    margin: 0 3px;
  }
}

@media (max-width: 480px) {
  .pagination {
    bottom: 20px;
    flex-wrap: wrap;
  }

  .pagination button {
    padding: 4px 8px;
    font-size: 12px;
  }

  .pagination li {
    margin: 2px;
  }
}
