/* Estilos gerais */
.navbar {
<<<<<<< HEAD
  display: flex;
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  z-index: 99;
  flex-direction: column; /* Alinha a barra de navegação verticalmente */
  background-image: url("./../img/[].png");
  
=======
    display: flex;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 99;
    flex-direction: column;
    align-items: flex-start;
>>>>>>> 8ceef54d9d643a29e7e77791ca84e1b7b8721d9c
}

/* Estilo do menu em telas pequenas */
.navbar ul {
<<<<<<< HEAD
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: url("./../img/[].png");
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  width: 3rem; /* Define a largura inicial da barra */
=======
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
    background-image: url("./../img/[].png");
    width: 3rem;
>>>>>>> 8ceef54d9d643a29e7e77791ca84e1b7b8721d9c
}

.navbar.open ul {
    display: flex;
}

/* Estilo dos itens do menu */
.navbar li + li {
  margin-top: 0.75rem;
}

.navbar a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  position: relative;
}

<<<<<<< HEAD
.navbar a:hover,
a:focus,
a.active {
  background-color: #e84315;
  outline: 0;
}

.navbar a:hover span,
a:focus span,
a.active span {
  transform: scale(1);
  opacity: 1;
}

=======
.navbar a:hover, .navbar a:focus, .navbar a.active {
    background-color: #e84315;
    outline: 0;
}

>>>>>>> 8ceef54d9d643a29e7e77791ca84e1b7b8721d9c
.navbar a i {
  font-size: 1.375rem;
}

/* Estilo do texto ao lado do ícone */
.navbar a span {
<<<<<<< HEAD
  position: absolute;
  background-color: #e84315;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  left: calc(100% + 1.5rem);
  transform-origin: center left;
  transform: scale(0);
  opacity: 0;
  transition: 0.15s ease;
}

.navbar a span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #e84315;
  left: -5px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  border-radius: 3px;
}

/* Estilo específico para o ícone do QRCode */
.qrcode-icon-container {
  display: block; /* Garante que o container do ícone esteja visível */
}

/* Inicialmente esconde o ícone do QRCode */
.qrcode-icon {
  display: none; /* Esconde o ícone por padrão */
=======
    position: absolute;
    left: calc(100% + 1rem);
    transform-origin: center left;
    transform: scale(0.8);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    background-color: #e84315;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 1.3rem;
    z-index: 10;
}

.navbar a span:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #e84315;
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.navbar a:hover span, .navbar a:focus span {
    opacity: 1;
    transform: scale(1);
}

/* Botão do menu sanduíche */
.menu-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    padding: 0.5rem;
    border-radius: 8px;
}

.menu-button:focus {
    outline: none;
}

/* Estilos para telas pequenas */
@media (max-width: 767px) {
    .menu-button {
        display: block;
    }

    .navbar ul {
        width: auto;
    }

    .navbar a {
        justify-content: flex-start;
        padding-left: 0.5rem;
    }

    .navbar a span {
        position: absolute;
        left: calc(100% + 1rem);
        transform-origin: center left;
        transform: scale(0.8);
        opacity: 0;
        transition: opacity 0.2s ease, transform 0.2s ease;
        background-color: #e84315;
        color: #fff;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        white-space: nowrap;
        font-size: 0.875rem;
        z-index: 10;
    }

    .navbar a:hover span, .navbar a:focus span {
        opacity: 1;
        transform: scale(1);
    }

    .navbar a span:before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        background-color: #e84315;
        left: -4px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
}

/* Estilos para telas grandes */
@media (min-width: 768px) {
    .menu-button {
        display: none;
    }

    .navbar ul {
        display: flex;
        width: auto;
    }

    .navbar a span {
        display: none; /* Oculta os textos ao lado dos ícones */
    }

    .navbar a:hover span, .navbar a:focus span {
        display: block;
        opacity: 1;
        transform: scale(1);
    }
>>>>>>> 8ceef54d9d643a29e7e77791ca84e1b7b8721d9c
}

.MDireta {
  height: 40vh;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.MEsquerda {
  height: 40vh;
  width: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}





/* Navbar.css */


.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent !important;
  padding: 0.75rem;
  border-radius: 50%;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  width: 3rem; /* Define a largura inicial da barra */
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  margin: 5px 0;
  transition: 0.3s;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin: 0 15px;
}



/* Exibe o ícone do QRCode apenas em telas menores que 768px */
@media (max-width: 767px) {
  .qrcode-icon-container {
    display: block; /* Garante que o container do ícone esteja visível */
  }

  .qrcode-icon {
    display: block; /* Exibe o ícone em dispositivos móveis */
  }

  .MDireta{
    height: 25vh;
  }
  .MEsquerda{
    height: 25vh;
  }

  /* Menu toggle*/.menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 10px 0;
  }
  
  .navbar{
    border-radius: 50%;
  }
}


/* Em telas maiores que 767px, esconde o ícone do QRCode */
@media (min-width: 768px) {
  .qrcode-icon {
    display: none; /* Esconde o ícone em telas maiores */
  }

  .qrcode-icon-container {
    display: none; /* Esconde o container do ícone em telas maiores */
  }

  .navbar ul{
    display: flex;
  }
}
