/* Estilos gerais */
.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  top: 1.5rem;
  left: 1rem;
  z-index: 999999999;
  flex-direction: column; /* Alinha a barra de navegação verticalmente */
  height: 80vh;
  
}

/* Estilo do menu em telas pequenas */
.navbar ul {
  list-style: none;
  margin: 0;  
  background-image: url("./../img/[].png");
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  width: 3rem; /* Define a largura inicial da barra */
  height: 100%;
  margin-top: 0.5rem;
}

.navbar.open ul {
  display: flex;
}

/* Estilo dos itens do menu */

.navbar li {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20%;
  padding: 0.2rem;
}
.navbar a {
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.navbar a span{
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
}

.navbar li:hover,
a:focus,
a.active {
  background-color: #e84315;
  outline: 0;
}

.navbar li:hover span,
a:focus span,
a.active span {
  transform: scale(1);
  opacity: 1;
}

.navbar a i {
  font-size: 1.375rem;
}

/* Estilo do texto ao lado do ícone */
.navbar a span {
  background-color: #e84315;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  left: calc(100% + 0.3rem);
  transform-origin: center left;
  transform: scale(0);
  opacity: 0;
  transition: 0.15s ease;
  position: absolute;
}

.navbar a span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #e84315;
  left: -5px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  border-radius: 3px;
}

/* Estilo específico para o ícone do QRCode */
.qrcode-icon-container {
  display: block; /* Garante que o container do ícone esteja visível */
}

/* Inicialmente esconde o ícone do QRCode */
.qrcode-icon {
  display: none; /* Esconde o ícone por padrão */
}

.MDireta {
  height: 40vh;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -10;
}

.MEsquerda {
  height: 40vh;
  width: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
}

/* Navbar.css */

.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;  
  background-color: transparent !important;
  padding: 0.75rem;
  border-radius: 50%;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  width: 3rem; /* Define a largura inicial da barra */
  height: 3rem;
  min-height: 3rem;
  background-image: url("./../img/[].png");
  position: relative;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Transform bars into an X when menu is open */
.menu-toggle.show .bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px) ;
  transform: rotate(-45deg) translate(-8px, 7px) ;
  margin-top: 0 !important; 
}

.menu-toggle.show .bar:nth-child(2) {
  opacity: 0; /* Hide the middle bar */
}

.menu-toggle.show .bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
  transform: rotate(45deg) translate(-4px, -4px);
  margin-bottom: 0 !important;
  
}

.nav-list {
  display: flex;
  list-style: none;
}

/* Exibe o ícone do QRCode apenas em telas menores que 768px */
@media (max-width: 767px) {
  .qrcode-icon-container {
    display: block; /* Garante que o container do ícone esteja visível */
  }

  .qrcode-icon {
    display: block; /* Exibe o ícone em dispositivos móveis */
  }

  .MDireta {
    height: 25vh;
  }
  .MEsquerda {
    height: 25vh;
  }

  /* Menu toggle*/
  .menu-toggle {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: white;
    max-height: 0; /* Start hidden */
    opacity: 0; /* Start invisible */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.8s ease-out, opacity 0.8s ease-out; /* Smooth transition */
  }

  .nav-list.show {
    display: flex;
    max-height: 100%;
    opacity: 1;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .navbar {
    border-radius: 50%;
  }
}

/* Em telas maiores que 767px, esconde o ícone do QRCode */
@media (min-width: 768px) {
  .qrcode-icon {
    display: none; /* Esconde o ícone em telas maiores */
  }

  .qrcode-icon-container {
    display: none; /* Esconde o container do ícone em telas maiores */
  }

  .navbar ul {
    display: flex;
  }
}
