/* PostItBoard.css */

.post-it-board-container {
    position: relative;
    width: 70vw;
    height: 70vh;
    overflow: hidden;
    z-index: 999;
    background-color: transparent;
}

.post-it-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    pointer-events: none;
}

.post-it-board .post-it {
    width: 20vw;
    height: 20vh;
    margin: 5px;
    pointer-events: all;
    box-sizing: border-box;
    position: relative;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--random-color);
    border-radius: 20px;
    border-left: 6px solid #ccc !important;
    transition: background-color 0.3s ease;
}

.post-it-name {
    font-size: 2.5rem;
}

.post-it-board {
    font-size: 1.5rem;
}

.post-it-board .post-it-message {
    width: 15vw;
    font-size: 1.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 10001;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination .active {
    font-weight: bold;
    background-color: #333;
    color: white;
}

/* Estilo do modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal-content {
    background-image: url("./../img/background.png");
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 60vw;
    height: 70%;
    max-height: 40vw;
    position: relative;
}

.modal-content span {
    font-size: 5rem;
}

.close {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.modal h2 {
    font-size: 6rem;
    padding: 8% 5%;
}

.modal p {
    font-size: 2.5rem;
    padding-left: 5%;
    padding-right: 3%;
    line-height: 1em;
}

/* Estilos para telas menores que 1000px */
@media (max-width: 1200px) {
    .post-it-name {
        font-size: 2rem;
    }
    
    .post-it-board {
        font-size: 2rem;
    }
    
    .post-it-board .post-it-message {
        width: 15vw;
        font-size: 1rem;
    }
}

/* Estilos para telas menores que 1000px */
@media (max-width: 1050px) {
    .post-it {
        height: 20vh;
    }
    
    .post-it-name {
        font-size: 1.5rem;
    }
    
    .post-it-board {
        font-size: 2rem;
    }

    .post-it-board .post-it-message {
        width: 15vw;
        font-size: 1rem;
    }

    .post-it-message {
        display: none;
    }

    .post-it-board .post-it {
        width: 20vw;
        height: 10vh;
        margin: 5px;
        gap: 1.5rem;
        display: flex;
        flex-direction: row;
    }

    .post-it-board {
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
}