.qrcode-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .qrcode-page h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
  }
  
  .qrcode-container-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .qrcode-image-page {
    width: 50vw; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #fff;
  }
  