/* Container do formulário com fundo */
.rsvp-form-container {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(19, 35, 47, 0.9); /* Cor de fundo */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ao redor do formulário */
}

/* Estilos gerais do formulário */
.rsvp-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.rsvp-form h2 {
  font-size: 2rem;
  margin: 1rem;
  color: #e84315;
}

.conf {
  font-size: 1.5rem;
  color: #fff;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

/* Floating Labels */
.floating-label input,
.floating-label textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  background: none;
  border: 1px solid #a0b3b0;
  color: #333;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

.floating-label input:focus,
.floating-label textarea:focus {
  border-color: #e84315;
}

.floating-label label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: #888;
  pointer-events: none;
  transition: all 0.2s ease;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label,
.floating-label textarea:focus + label,
.floating-label textarea:not(:placeholder-shown) + label {
  top: -20px;
  left: 10px;
  font-size: 1rem;
  color: #e84315;
}

/* Espaço para checkbox */
.space-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.space-form input[type="checkbox"] {
  margin-right: 10px;
}

.button {
  border: 0;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  background: #e84315;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;
  border-radius: 10px;
}

.button-block {
  font-family: "Parisienne", cursive;
  font-size: 2rem;
  width: 100%;
}

.button:hover {
  background: #e84315;
}