@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100vh;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  display: flex;
}

.tab-group li {
  flex: 1;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li.active a {
  background: #e84315;
  color: #ffffff;
}

.LinkForgot {
  color: #e84315;
  font-weight: 400;
  text-decoration: none;
}

.tab-group li a:hover {
  background: #e84315;
  color: #ffffff;
}

.tab-content {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 20px;
  font-size: 1.5rem;
}

.field-wrap {
  position: relative;
  margin-bottom: 20px;
}

.field-wrap label {
  position: absolute;
  transform: translateY(6px);
  left: 10px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  font-size: 1.5rem;
  bottom: 15px;
}

.field-wrap input {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #a0b3b0;
  color: white;
}

.field-wrap input:focus {
  outline: 0;
  border-color: #e84315;
}

/* Ajustes nos labels */
.field-wrap input:focus + label,
.field-wrap input.focused + label {
  opacity: 0; /* Tornar o label invisível */
  transform: translateY(-20px); /* Movê-lo um pouco para cima */
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Garantir que o label reapareça se o input estiver vazio e perder o foco */
.field-wrap input:not(.focused):placeholder-shown + label {
  opacity: 1; /* Label reaparece */
  transform: translateY(6px); /* Reposicionar no lugar inicial */
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.button {
  border: 0;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  background: #e84315;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;
}

.button-block {
  font-family: "Parisienne", cursive;
  font-size: 1.5rem;
  width: 100%;
}

.button:hover {
  background: #e84315;
}

.forgot {
  text-align: right;
  color: white;
  font-size: 1.5rem;
}
